@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}



.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li, a{
   font-size: 18px;
   color: #e5e7eb;
   text-decoration: none;
}       

.logo{
    height: auto;
    width: 100px;
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #1f2937;
}
.nav_links{
    list-style:none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover{
    color: blue;
}

.hero{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 100px;
}

.hero h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}
.hero p{
    max-width: 400px;
    color: #E5E7EB;
}
.image{
    display: block;
    height: 250px;
    width: auto;
}
.firstbutton{
    align-self: flex-start;
    color: #fff;
    padding: 8px 22px;
    margin-top: 5px;
    border-radius: 6px;
    background-color: #3882f6;
    border-color: none;
}

.random{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.random h1{
    margin-top: 50px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
}
.images{
 display: flex; 
 gap: 36px;
 margin: 24px;
 justify-content: center;
 align-items: center;
}

.imag{
    border-radius: 15px;
    border: 3px solid #3882f6;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 150px;
    height: 150px;
}


.character{
    max-width: 120px;
    max-height: 120px;
}

.imag p{
    margin-top: 20px;
}

.quotes{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    width: auto;
    height: 200px;
    gap: 8px;
}

.quotes p {
    font-size: 36px;
    font-style: italic;
}

#name{
align-self: flex-end;
}


.signs-text {
    text-align: left;
}
.sign-up{
    background-color: #3882F6;
    margin: 50px 200px;
    padding: 30px 80px;
    display: flex;
    gap: 700px;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

#action{
    color: white;
}

#action h3{
    font-weight: 800;
}

.whitebutton{
    color: #fff;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}

.footer{
    align-items: center;
    background-color: #1f2937;
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 30px;
    text-align: center;
}

.footer p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}